APIFY_API_TOKEN=
OPENAI_API_KEY=
GPT_NICHE_MODEL=ft:gpt-3.5-turbo-0125:worldpackers:leads-ai-wp-4:BVTeAsTC
GPT_FILTER_MODEL=gpt-4o-mini
DATABASE_URL=postgresql://draper:draper@localhost:5432/draper
LOG_LEVEL=INFO
RUN_PASSWORD=
